In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('auto-mpg.csv.csv')

In [3]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [4]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [5]:
df2 = df[['displacement','weight']]

In [6]:
df2.shape

(398, 2)

In [7]:
df2.describe()

       displacement       weight
count    398.000000   398.000000
mean     193.425879  2970.424623
std      104.269838   846.841774
min       68.000000  1613.000000
25%      104.250000  2223.750000
50%      148.500000  2803.500000
75%      262.000000  3608.000000
max      455.000000  5140.000000

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
mms = MinMaxScaler()

In [10]:
print(mms)

MinMaxScaler()

In [11]:
df2 = mms.fit_transform(df2)

In [12]:
df2

array([[0.61757106, 0.5361497 ],
       [0.72868217, 0.58973632],
       [0.64599483, 0.51686986],
       [0.60981912, 0.51601928],
       [0.60465116, 0.52055571],
       [0.93281654, 0.77346187],
       [0.99741602, 0.77714772],
       [0.96124031, 0.76523958],
       [1.        , 0.79727814],
       [0.83204134, 0.63425007],
       [0.81395349, 0.5528778 ],
       [0.70284238, 0.56592005],
       [0.85788114, 0.60901616],
       [1.        , 0.41763538],
       [0.11627907, 0.21519705],
       [0.33591731, 0.34590303],
       [0.33850129, 0.32917494],
       [0.34108527, 0.27615537],
       [0.0749354 , 0.1465835 ],
       [0.0749354 , 0.06294301],
       [0.10852713, 0.30025517],
       [0.10077519, 0.23164162],
       [0.09302326, 0.21604763],
       [0.1369509 , 0.17607031],
       [0.33850129, 0.29345052],
       [0.75452196, 0.85114828],
       [0.61757106, 0.78338531],
       [0.64599483, 0.78508648],
       [0.60981912, 0.88432095],
       [0.0749354 , 0.1465835 ],
       [0.18604651, 0.18457613],
       [0.11627907, 0.17436915],
       [0.07751938, 0.12276722],
       [0.42377261, 0.28948115],
       [0.40568475, 0.51772044],
       [0.47028424, 0.48653246],
       [0.47028424, 0.47887723],
       [0.42377261, 0.47490785],
       [0.72868217, 0.73603629],
       [0.85788114, 0.8083357 ],
       [0.73126615, 0.7204423 ],
       [0.64599483, 0.70399773],
       [0.81395349, 0.94754749],
       [0.85788114, 0.88829033],
       [0.85788114, 1.        ],
       [0.49095607, 0.38247803],
       [0.18604651, 0.22540403],
       [0.47028424, 0.47320669],
       [0.47028424, 0.43266232],
       [0.13953488, 0.17210094],
       [0.12403101, 0.14459881],
       [0.02842377, 0.13070598],
       [0.05167959, 0.12815424],
       [0.00775194, 0.04536433],
       [0.01033592, 0.        ],
       [0.0749354 , 0.06265948],
       [0.05943152, 0.09696626],
       [0.11627907, 0.18854551],
       [0.07622739, 0.14544939],
       [0.0749354 , 0.18174086],
       [0.18604651, 0.22540403],
       [0.13953488, 0.1738021 ],
       [0.72868217, 0.75446555],
       [0.85788114, 0.78593706],
       [0.64599483, 0.71505529],
       [0.73126615, 0.71335413],
       [0.60981912, 0.58378225],
       [0.93281654, 0.85625177],
       [0.72868217, 0.81910972],
       [0.72868217, 0.80606748],
       [0.85788114, 0.79642756],
       [0.00516796, 0.20328891],
       [0.60981912, 0.64615821],
       [0.61757106, 0.70456479],
       [0.60465116, 0.76013609],
       [0.64599483, 0.69861072],
       [0.1369509 , 0.37425574],
       [0.1369509 , 0.25460731],
       [0.13436693, 0.38729799],
       [0.07235142, 0.1633116 ],
       [0.13953488, 0.22171817],
       [0.0749354 , 0.19138078],
       [0.13436693, 0.25318968],
       [0.07751938, 0.15622342],
       [0.0749354 , 0.13807769],
       [0.72868217, 0.70513184],
       [0.60981912, 0.58378225],
       [0.72868217, 0.67337681],
       [0.60465116, 0.68868727],
       [0.64599483, 0.61355259],
       [0.93281654, 0.94669691],
       [0.85788114, 0.8083357 ],
       [0.73126615, 0.77969946],
       [0.64599483, 0.74397505],
       [0.96124031, 0.88517153],
       [1.        , 0.94641338],
       [0.75452196, 0.62602779],
       [0.40568475, 0.42755883],
       [0.47028424, 0.47207258],
       [0.42377261, 0.37765807],
       [0.47028424, 0.39920612],
       [0.33591731, 0.36603346],
       [0.0749354 , 0.09554862],
       [0.85788114, 0.95945563],
       [0.85788114, 0.93365466],
       [0.75452196, 0.86220584],
       [0.72868217, 0.81825914],
       [0.42377261, 0.33342784],
       [0.0749354 , 0.18882903],
       [0.18604651, 0.22341934],
       [0.10335917, 0.21718174],
       [0.00516796, 0.14488234],
       [0.13953488, 0.19761837],
       [0.2248062 , 0.24354976],
       [0.07751938, 0.18485965],
       [0.72868217, 0.70002835],
       [0.85788114, 0.75559966],
       [0.        , 0.07201588],
       [0.12403101, 0.15452226],
       [0.11886305, 0.27473774],
       [0.1369509 , 0.35582648],
       [0.64599483, 0.50637936],
       [0.1369509 , 0.29685285],
       [0.22739018, 0.33853133],
       [0.72868217, 0.58151403],
       [0.33591731, 0.42217182],
       [0.34108527, 0.35781117],
       [0.42377261, 0.36518287],
       [0.47028424, 0.48851715],
       [0.02842377, 0.09554862],
       [0.13953488, 0.23759569],
       [0.00775194, 0.06322654],
       [0.18604651, 0.26339665],
       [0.47028424, 0.6146867 ],
       [0.49095607, 0.57244117],
       [0.40568475, 0.56705415],
       [0.60465116, 0.71675645],
       [0.72868217, 0.87496456],
       [0.64599483, 0.80635101],
       [0.60465116, 0.85766941],
       [0.60981912, 0.74964559],
       [0.07751938, 0.17181741],
       [0.02842377, 0.09923448],
       [0.0749354 , 0.1947831 ],
       [0.02067183, 0.01020697],
       [0.03875969, 0.11057556],
       [0.05684755, 0.14516586],
       [0.05684755, 0.1403459 ],
       [0.12403101, 0.17947264],
       [0.13436693, 0.24836972],
       [0.10335917, 0.22058407],
       [0.02842377, 0.10972498],
       [0.40568475, 0.4681032 ],
       [0.47028424, 0.52339098],
       [0.47028424, 0.51573575],
       [0.47028424, 0.43804933],
       [0.85788114, 0.86617522],
       [0.72868217, 0.80153105],
       [0.64599483, 0.81797562],
       [0.73126615, 0.86305642],
       [0.42118863, 0.65041111],
       [0.47028424, 0.64757584],
       [0.49095607, 0.60022682],
       [0.40568475, 0.61582081],
       [0.42118863, 0.40430961],
       [0.50129199, 0.45591154],
       [0.60465116, 0.44116813],
       [0.0749354 , 0.15820811],
       [0.18604651, 0.29089878],
       [0.42377261, 0.36886873],
       [0.18604651, 0.27757301],
       [0.17054264, 0.30876099],
       [0.05684755, 0.17295152],
       [0.13178295, 0.26424724],
       [0.26614987, 0.38871562],
       [0.05684755, 0.09186277],
       [0.42377261, 0.45307627],
       [0.12144703, 0.30649277],
       [0.13436693, 0.38106039],
       [0.1369509 , 0.37765807],
       [0.1369509 , 0.29997165],
       [0.05943152, 0.05160193],
       [0.10077519, 0.24128154],
       [0.12403101, 0.17210094],
       [0.18604651, 0.27190247],
       [0.07751938, 0.18202438],
       [0.08527132, 0.16699745],
       [0.6124031 , 0.73773745],
       [0.64599483, 0.73064928],
       [0.60981912, 0.6660051 ],
       [0.73126615, 0.73773745],
       [0.40568475, 0.45931386],
       [0.47028424, 0.49333711],
       [0.34108527, 0.39665438],
       [0.42377261, 0.41735186],
       [0.04392765, 0.11964843],
       [0.07751938, 0.15622342],
       [0.05684755, 0.09186277],
       [0.05943152, 0.05160193],
       [0.40568475, 0.57782818],
       [0.47028424, 0.5559966 ],
       [0.47028424, 0.57612702],
       [0.49095607, 0.44797278],
       [0.0749354 , 0.06010774],
       [0.04392765, 0.10688971],
       [0.0749354 , 0.15367168],
       [0.18604651, 0.26991778],
       [0.16020672, 0.43578112],
       [0.64599483, 0.65976751],
       [0.13436693, 0.46980437],
       [0.22739018, 0.37340516],
       [0.25839793, 0.62574426],
       [0.72868217, 0.78451942],
       [0.72868217, 0.69237312],
       [0.60465116, 0.63992061],
       [0.64599483, 0.607315  ],
       [0.07751938, 0.1224837 ],
       [0.11111111, 0.15367168],
       [0.02842377, 0.06010774],
       [0.13953488, 0.1947831 ],
       [0.04392765, 0.09413099],
       [0.6124031 , 0.64275588],
       [0.49612403, 0.69379076],
       [0.64599483, 0.71647292],
       [0.60465116, 0.76041962],
       [0.47028424, 0.54068614],
       [0.42118863, 0.51375106],
       [0.40568475, 0.57187411],
       [0.47028424, 0.54210377],
       [0.85788114, 0.73915509],
       [0.72868217, 0.7235611 ],
       [0.85788114, 0.76892543],
       [0.73126615, 0.7717607 ],
       [0.0749354 , 0.09271335],
       [0.21447028, 0.31953502],
       [0.0749354 , 0.18485965],
       [0.18604651, 0.32378792],
       [0.07751938, 0.12418486],
       [0.07751938, 0.13098951],
       [0.0749354 , 0.10547207],
       [0.0749354 , 0.16359512],
       [0.20155039, 0.34079955],
       [0.1369509 , 0.27984122],
       [0.03100775, 0.31386447],
       [0.05684755, 0.10547207],
       [0.07751938, 0.05301956],
       [0.02583979, 0.10547207],
       [0.04392765, 0.12957187],
       [0.05943152, 0.05301956],
       [0.49612403, 0.49673944],
       [0.64599483, 0.60164446],
       [0.60465116, 0.55486249],
       [0.42118863, 0.54493904],
       [0.34108527, 0.43719875],
       [0.34108527, 0.38332861],
       [0.18604651, 0.31386447],
       [0.40568475, 0.5151687 ],
       [0.42377261, 0.45279274],
       [0.42118863, 0.50099234],
       [0.34108527, 0.41309895],
       [0.40568475, 0.56903884],
       [0.49095607, 0.50949816],
       [0.6124031 , 0.51375106],
       [0.42118863, 0.5194216 ],
       [0.60465116, 0.45137511],
       [0.64599483, 0.6994613 ],
       [0.07751938, 0.15367168],
       [0.17054264, 0.26850014],
       [0.13178295, 0.1947831 ],
       [0.09560724, 0.17493621],
       [0.17054264, 0.25574142],
       [0.22739018, 0.32095265],
       [0.21447028, 0.35214063],
       [0.13178295, 0.22455344],
       [0.1627907 , 0.34505245],
       [0.24547804, 0.43294585],
       [0.1369509 , 0.335129  ],
       [0.24547804, 0.50949816],
       [0.05426357, 0.10688971],
       [0.07751938, 0.14800113],
       [0.42118863, 0.46271619],
       [0.34108527, 0.39041678],
       [0.18604651, 0.36206408],
       [0.42377261, 0.46838673],
       [0.40568475, 0.4953218 ],
       [0.6124031 , 0.6314148 ],
       [0.60465116, 0.59880919],
       [0.73126615, 0.66402041],
       [0.64599483, 0.62857953],
       [0.72868217, 0.77884888],
       [0.73126615, 0.69208959],
       [0.51421189, 0.56478594],
       [0.75452196, 0.65976751],
       [0.05426357, 0.08846045],
       [0.04651163, 0.1026368 ],
       [0.07751938, 0.08562518],
       [0.1369509 , 0.29968812],
       [0.29715762, 0.54352141],
       [0.72868217, 0.64842642],
       [0.18863049, 0.4471222 ],
       [0.49612403, 0.51233343],
       [0.09560724, 0.16643039],
       [0.09560724, 0.15225404],
       [0.04392765, 0.11539552],
       [0.05943152, 0.1465835 ],
       [0.21447028, 0.29968812],
       [0.27131783, 0.27842359],
       [0.27131783, 0.30819393],
       [0.21447028, 0.26736603],
       [0.07751938, 0.15055288],
       [0.05426357, 0.10065211],
       [0.07751938, 0.14374823],
       [0.04651163, 0.11511199],
       [0.21447028, 0.30195634],
       [0.18604651, 0.35639354],
       [0.21447028, 0.39410264],
       [0.40568475, 0.50127587],
       [0.0749354 , 0.16302807],
       [0.17054264, 0.31131273],
       [0.13436693, 0.26339665],
       [0.13178295, 0.23277573],
       [0.10335917, 0.18485965],
       [0.04651163, 0.14091296],
       [0.22739018, 0.33654664],
       [0.04392765, 0.14091296],
       [0.05684755, 0.13382478],
       [0.05684755, 0.20470655],
       [0.1369509 , 0.3790757 ],
       [0.20155039, 0.46413382],
       [0.05943152, 0.06719592],
       [0.04392765, 0.06294301],
       [0.0749354 , 0.1508364 ],
       [0.05426357, 0.06577828],
       [0.25839793, 0.36773462],
       [0.00516796, 0.22880635],
       [0.13953488, 0.25148852],
       [0.18604651, 0.36631698],
       [0.10077519, 0.19194783],
       [0.17312661, 0.24865325],
       [0.21447028, 0.28976467],
       [0.22739018, 0.28551177],
       [0.27131783, 0.31528211],
       [0.17312661, 0.2188829 ],
       [0.02842377, 0.04026084],
       [0.04651163, 0.07428409],
       [0.03359173, 0.04167848],
       [0.0749354 , 0.12815424],
       [0.04392765, 0.1026368 ],
       [0.05426357, 0.12390133],
       [0.05943152, 0.10547207],
       [0.09560724, 0.1706833 ],
       [0.07751938, 0.1224837 ],
       [0.07751938, 0.21746527],
       [0.09560724, 0.16359512],
       [0.08268734, 0.20045364],
       [0.10077519, 0.16926566],
       [0.10335917, 0.20895946],
       [0.13178295, 0.28409413],
       [0.13436693, 0.28976467],
       [0.18863049, 0.45846328],
       [0.19896641, 0.43861639],
       [0.25839793, 0.36489935],
       [0.20155039, 0.37340516],
       [0.42118863, 0.51091579],
       [0.72868217, 0.59880919],
       [0.34108527, 0.41026368],
       [0.40568475, 0.52509215],
       [0.11369509, 0.28125886],
       [0.11369509, 0.29118231],
       [0.11369509, 0.22171817],
       [0.11369509, 0.27275305],
       [0.17312661, 0.25857669],
       [0.21447028, 0.31811738],
       [0.18604651, 0.3549759 ],
       [0.21447028, 0.4031755 ],
       [0.09560724, 0.10405444],
       [0.05943152, 0.11681316],
       [0.05943152, 0.10121917],
       [0.09560724, 0.14516586],
       [0.07751938, 0.14516586],
       [0.13436693, 0.15508931],
       [0.10077519, 0.16784803],
       [0.10335917, 0.17918911],
       [0.05943152, 0.09980153],
       [0.05943152, 0.09980153],
       [0.05943152, 0.10830734],
       [0.29198966, 0.37765807],
       [0.50129199, 0.39750496],
       [0.22739018, 0.27558832],
       [0.42377261, 0.34647009],
       [0.19638243, 0.29827048],
       [0.17312661, 0.21463   ],
       [0.21447028, 0.3790757 ],
       [0.18604651, 0.33371137],
       [0.0749354 , 0.1465835 ],
       [0.17312661, 0.19336547],
       [0.13436693, 0.2869294 ],
       [0.13178295, 0.31386447]])

In [13]:
df2 = pd.DataFrame(data=df2, columns=['Displacement','Weigth'])

In [14]:
df2

     Displacement    Weigth
0        0.617571  0.536150
1        0.728682  0.589736
2        0.645995  0.516870
3        0.609819  0.516019
4        0.604651  0.520556
..            ...       ...
393      0.186047  0.333711
394      0.074935  0.146583
395      0.173127  0.193365
396      0.134367  0.286929
397      0.131783  0.313864

[398 rows x 2 columns]

In [15]:
df = pd.concat([df,df2], axis=1)

In [16]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,Displacement,Weigth
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,0.617571,0.536150
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,0.728682,0.589736
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,0.645995,0.516870
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,0.609819,0.516019
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,0.604651,0.520556
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,0.186047,0.333711
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,0.074935,0.146583
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,0.173127,0.193365
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,0.134367,0.286929
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,0.131783,0.313864

In [17]:
df.drop(['displacement','weight'], axis=1, inplace=True)

In [18]:
df

,mpg,cylinders,horsepower,acceleration,model year,origin,car name,Displacement,Weigth
0,18.0,8,130,12.0,70,1,chevrolet chevelle malibu,0.617571,0.536150
1,15.0,8,165,11.5,70,1,buick skylark 320,0.728682,0.589736
2,18.0,8,150,11.0,70,1,plymouth satellite,0.645995,0.516870
3,16.0,8,150,12.0,70,1,amc rebel sst,0.609819,0.516019
4,17.0,8,140,10.5,70,1,ford torino,0.604651,0.520556
...,...,...,...,...,...,...,...,...,...
393,27.0,4,86,15.6,82,1,ford mustang gl,0.186047,0.333711
394,44.0,4,52,24.6,82,2,vw pickup,0.074935,0.146583
395,32.0,4,84,11.6,82,1,dodge rampage,0.173127,0.193365
396,28.0,4,79,18.6,82,1,ford ranger,0.134367,0.286929
397,31.0,4,82,19.4,82,1,chevy s-10,0.131783,0.313864

In [19]:
df.describe()

,mpg,cylinders,acceleration,model year,origin,Displacement,Weigth
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,15.568090,76.010050,1.572864,0.324098,0.384867
std,7.815984,1.701004,2.757689,3.697627,0.802055,0.269431,0.240103
min,9.000000,3.000000,8.000000,70.000000,1.000000,0.000000,0.000000
25%,17.500000,4.000000,13.825000,73.000000,1.000000,0.093669,0.173164
50%,23.000000,4.000000,15.500000,76.000000,1.000000,0.208010,0.337539
75%,29.000000,8.000000,17.175000,79.000000,2.000000,0.501292,0.565637
max,46.600000,8.000000,24.800000,82.000000,3.000000,1.000000,1.000000

In [20]:
df[df['horsepower']=='?']

,mpg,cylinders,horsepower,acceleration,model year,origin,car name,Displacement,Weigth
32,25.0,4,?,19.0,71,1,ford pinto,0.077519,0.122767
126,21.0,6,?,17.0,74,1,ford maverick,0.341085,0.357811
330,40.9,4,?,17.3,80,2,renault lecar deluxe,0.043928,0.062943
336,23.6,4,?,14.3,80,1,ford mustang cobra,0.186047,0.366317
354,34.5,4,?,15.8,81,2,renault 18i,0.082687,0.200454
374,23.0,4,?,20.5,82,1,amc concord dl,0.214470,0.403176

In [22]:
ds = df.copy()

In [23]:
ds

,mpg,cylinders,horsepower,acceleration,model year,origin,car name,Displacement,Weigth
0,18.0,8,130,12.0,70,1,chevrolet chevelle malibu,0.617571,0.536150
1,15.0,8,165,11.5,70,1,buick skylark 320,0.728682,0.589736
2,18.0,8,150,11.0,70,1,plymouth satellite,0.645995,0.516870
3,16.0,8,150,12.0,70,1,amc rebel sst,0.609819,0.516019
4,17.0,8,140,10.5,70,1,ford torino,0.604651,0.520556
...,...,...,...,...,...,...,...,...,...
393,27.0,4,86,15.6,82,1,ford mustang gl,0.186047,0.333711
394,44.0,4,52,24.6,82,2,vw pickup,0.074935,0.146583
395,32.0,4,84,11.6,82,1,dodge rampage,0.173127,0.193365
396,28.0,4,79,18.6,82,1,ford ranger,0.134367,0.286929
397,31.0,4,82,19.4,82,1,chevy s-10,0.131783,0.313864